#google-button span {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#google-button {
  border-radius: 0px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
#signin-button {
  border-radius: 0px;
  background-color: var(--primary-color);
}
